@import url('https://mui.kernelsu.org/mmrl/insets.css');
@import url('https://mui.kernelsu.org/mmrl/colors.css');

:root {
    /* window inset */
    --top-inset: var(--window-inset-top, 0px);
    --bottom-inset: var(--window-inset-bottom, 0px);

    /* Background colors */
    --bg-primary: var(--background, #EDEDED);

    /* Text colors */
    --text-primary: var(--onSurface, #000);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Background colors */
        --bg-primary: var(--background, #151515);

        /* Text colors */
        --text-primary: var(--onSurface, #eee);
    }
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.output {
    display: flex;
    flex-grow: 1;
    transform: scale(0.95);
    flex-direction: column;
}

.output code {
    margin: 0;
    font-size: var(--code-font-size, 1em);
}

#ascii-frame {
  white-space: pre;
  font-size: 10px;
  max-height: 60vh;
  overflow: hidden;
}

video {
  margin-top: 10px;
}
